<head>
    <!--<style>
        * {
            box-sizing: border-box;
        }

        .col  {
            float: left;
            width: 33.33%;
            padding: 1px;
        }

        .col  {
            float: right;
            width: 33.33%;
            padding: 5px;
        }

        /* Clearfix (clear floats) */

        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style> -->
</head>

<h2 *ngIf="errorIn">Invalid Input</h2>

<div *ngIf="searchIn && repOut && !errorIn">
    
    <div class="container">
        <div class="row">
            <!-- Card for User Personal Info -->
            <div class="col">
                    <div class="card">
                            <div class="card-header">
                                {{searchIn.name}}
                            </div>
                            <div class="card-body" class="row">
                                <div class="col">
                                    <!-- Profile Image -->
                                    <img src='{{searchIn.avatar_url}}' class='img-thumbnail' width='250px' height='250px' />
                                    <br/>
                                    <br/>
                                    <a class="btn btn-primary" target="_blank" href="{{searchIn.html_url}}" role="button">View Profile</a>
                                    <br/>
                                    <!-- Badges -->
                                    <a class="badge badge-primary">{{searchIn.followers}} followers</a>
                                    <a class="badge badge-secondary">{{searchIn.following}} following</a>
                                    <a class="badge badge-success">{{searchIn.public_repos}} Public Repos</a>
                                    <a class="badge badge-info">{{searchIn.public_gists}} Public Gists</a>
                                </div>
                                <div class="col">
                                    <!-- List Group -->
                                    <ul class="list-group">
                                        <li class="list-group-item">Username: {{searchIn.login}}</li>
                                        <li class="list-group-item">Location: {{searchIn.location}}</li>
                                        <li class="list-group-item">Email: {{searchIn.email}}</li>
                                        <li class="list-group-item">Blog:
                                            <br/>{{searchIn.blog}}</li>
                                        <li class="list-group-item">Member Since:
                                            <br/>{{searchIn.created_at}}</li>
                                    </ul>
                                </div>
                            </div>
                    
                        </div>
            </div>
                <!-- card for repos -->
            <div class="col">
                <div class="card"   >
                    <div class="card-header">
                                Repos
                    </div>
                    <ul *ngFor="let i of repOut" class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              {{i.name}}:<br/>
                              {{i.description}} 
                              <span class="badge badge-primary">{{ i.forks_count }} Forks</span>
                              <span class="badge badge-success">{{ i.watchers_count }} Watchers</span>
                            </li>
                    </ul>
                    <!-- <ul *ngFor="let i of repOut" class="list-group list-group-flush">
                        <li class="list-group-item">{{ i.name }}: {{ i.description }}
                            <a class="badge badge-success">{{ i.forks_count }} Forks</a>
                            <a class="badge badge-info">{{ i.watchers_count }} Watchers</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

</div>